// Variables

$primary: #219AB3;
$secondary: rgb(66,73,81); // Not being used at the moment
$dark: #000;
$light: #fff;

// Fonts
$headingFont: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$bodyFont: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
